# Day 4

# Control Flow Statements

# if condition

wirte a program to calculate the percentage of a student in the subjects maths science socal eng and hindi

In [6]:
x = input("Enter the name of a student")
a = int(input("enter the marks scored in english"))
b = int(input("enter the marks scored in hindi"))
c = int(input("enter the marks scored in science"))
d = int(input("enter the marks scored in social"))
e = int(input("enter the marks scored in maths"))
n = ((a+b+c+d+e)/500)*100
print("the percent scored by student is", n)

Enter the name of a studentAnil
enter the marks scored in english89
enter the marks scored in hindi87
enter the marks scored in science88
enter the marks scored in social90
enter the marks scored in maths92
the percent scored by student is 89.2

In [20]:
h = input("enter the name of the employee")
i = int(input("enter the amount of Basic"))
j = int(input("enter the amount of DA"))
k = int(input("enter the amount of HRA"))
l = int(input("enter the amount of Spl Allow"))
m = int(input("enter the amount of PF"))
n = int(input("enter the amount of TDS"))
o = ((i+j+k+l-m-n))
print("net salary of the employee", o)

enter the name of the employeeAnil
enter the amount of Basic18000
enter the amount of DA12000
enter the amount of HRA13000
enter the amount of Spl Allow7000
enter the amount of PF1800
enter the amount of TDS3000
net salary of the employee 45200

In [7]:
a = int(input("Enter the percentage scored by a student"))
if a>90:
    print("A grade")
if a>=75 and a<90:
    print("B grade")
if a>=65 and a<75:
    print("C grade")

Enter the percentage scored by a student80
B grade

# if else statement

write a program to display hello if number entered by a user is a multiple of 5 else print bye

In [9]:
a = int(input("enter the number"))
if a%5==0:
    print("hello")
else:
    print("bye")

enter the number36
bye

In [13]:
a = int(input("enter the number"))
if a>0:
    print("positive number")
else:
    print("negative number")

enter the number-8
negative number

# if - elif - else

In [ ]:
accept the city and print its monument
Delhi - Red Fort
Agra - Taj Mahal
Jaipur - Jalmahal
Odisa - Konak Temple
hyderabad - Charminar
Other - Record not found

In [17]:
city = input("enter the city")
if city == "Delhi":
    print("The monument in Delhi is Redfort")
elif city == "Agra":
    print("The monument in Agra is Tajmahal")
elif city == "Jaipur":
    print("The monument in Jaipur is Jalmahal")
elif city == "Odisa":
    print("The monument in Odisa is Konak Temple")
elif city == "hyderabad":
    print("The monument in Hyderabad is Charminar")
else:
    print("no record found")

enter the cityKanpur
no record found